<nav>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/eddy">Min Seuk</a></li>
        <li><a href="/juan">Juan</a></li>
        <% if (user) { %>
            <li><a href="/logout">Logout</a></li>
        <% } else { %>
            <li><a href="/login">Login</a></li>
        <% } %>
    </ul>
</nav>
<hr>