<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <img src="/images/logo.jpg" alt="bcit-logo">
        <h1>Group 3 - Web Server Admin Project 2</h1>
        <p>Please Login to check our portfolio</p>
        <a href="/login"><button>Login</button></a>
    </div>
</body>
</html>
