<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>


    <div id="github-contributions"></div>
    <script src="https://cdn.jsdelivr.net/npm/github-contributions-widget@latest/dist/github-contributions-widget.min.js"></script>
    <script>
        new GitHubCalendar("#github-contributions", "your-github-username");
    </script>

</body>
</html>
