<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
</head>
<body>
    <div class="container">
    <h1>Please Login</h1>
    <a href="/auth/google">
        <img src="/images/google.png" alt="google login" class="google-login-button">
    </a>
    </div>
</body>
</html>
