<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1>Welcome, <%= username %></h1>
    <ul>
        <li><a href="/portfolio/minseuk">Min Seuk's Portfolio</a></li>
        <li><a href="/portfolio/juan">Juan's Portfolio</a></li>
    </ul>
    <a href="/logout">Logout</a>
</body>
</html>